﻿﻿/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Big John', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Baloo Da 2', cursive;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    max-width: 2560px;
    min-width: 1170px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}


/*header*/

.header {
    position: relative;
    max-width: 2560px;
    min-width: 1170px;
    text-align: center;
    background: url(../img/network-backgrounds.jpg) no-repeat center top/cover;
    padding-bottom: 1000px;
}

.batton_top {
    top: 900px;
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: rgb(51, 51, 192);
    border-radius: 50%;
    position: fixed;
    right: 50px;
    opacity: 0;
    z-index: 10000;
    transition: all .5s ease;
    visibility: hidden;
}

.visible {
    visibility: visible;
    transition: all .5s ease;
    opacity: 1;
}

.menu_background {
    height: 56px;
    background-color: rgba(34, 34, 34, .9);
    display: flex;
}

.menu_background.top_menu {
    background-color: rgba(17, 17, 17, .9);
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 25px;
    width: 220px;
    height: 100%;
}

.user_img img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 3px solid rgb(51, 51, 192);
}

.user_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}

.user_balance {
    font-size: 20px;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 25px;
    word-spacing: -10px;
    font-size: 34px;
    color: #fff;
}

.brand i {
    transition: all 0.7s ease;
}

.menu_background:hover>.brand i {
    color: rgba(51, 51, 192, .41);
}

.brand span {
    font-weight: bold;
}

.fa-globe {
    font-size: 30px;
    line-height: 0.8;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.decoration {
    width: 0%;
    height: 2px;
    background-color: rgb(51, 51, 192);
    position: absolute;
    bottom: 10px;
}

.is_active,
.menu ul li:hover .decoration {
    width: 60%;
    transition: all .5s ease;
}

.menu li {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    transition: all .5s ease;
    position: relative;
}


/*------------------------------------------------*/

.section_background {
    background: #1a1a1a;
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
    box-shadow: 0px 0px 108px 117px rgba(26, 26, 26, 1);
}

.payment_methods {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    border-top: 3px solid rgba(34, 34, 34, .9);
    border-bottom: 3px solid rgba(34, 34, 34, .9)
}

.methods {
    width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.method {
    filter: grayscale(37%);
    transform: scale(0.7)
}

footer {
    padding-top: 100px;
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    width: 380px;
}

.support_email {
    background-color: #000;
    padding: 7px;
    border-radius: 10px;
}


/*-----------------------------------------------------------------*/

.order_form_outter {
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
}

.proxy_type_container {
    position: relative;
    border-radius: 8px;
    background-color: rgba(6, 8, 14, 0.89);
    width: 335px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proxy_type {
    border-radius: 8px 8px 0 0;
    border: 1px solid #4e5081;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    padding: 4px 0px;
}

.description {
    border: 1px solid #4e5081;
    width: 100%;
    line-height: 1.2;
    font-size: 13px;
    padding: 4px 0px;
}

.form {
    border: 1px solid #4e5081;
    border-radius: 0 0 8px 8px;
    width: 100%;
}

.users_count {
    color: #00d8ff;
    border: 1px solid #4e5081;
    padding: 4px 0px;
    width: 100%;
    font-size: 15px;
}

.users_count.special_color {
    color: #ff9100e3;
}

.flex-container {
    border-bottom: 1px solid #4e5081;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side {
    border-right: 1px solid #4e5081;
    font-size: 14px;
    width: 60px;
    padding: 10px 8px;
}

select,
input {
    outline: none;
    border-radius: 8px;
    color: #fff;
    border: 2px solid #0f0f11;
    font-weight: bold;
    background-color: #161728;
}

select option {
    outline: none;
    border: none;
}

.right_side {
    font-weight: bold;
    padding: 8px;
    width: 215px;
}

.count_outter input {
    width: 195px;
    padding: 8px;
}

.total_price {
    position: relative;
    justify-content: flex-start;
}

.total_price span {
    margin-right: 5px;
}

.buy_submit {
    cursor: pointer;
    font-size: 18px;
    border-radius: 0 0 8px 8px;
    height: 38px;
    width: 100%;
}

.flex-container .text_container {
    border-radius: 8px;
    border: 1px solid #4e5081;
    padding: 0 9px;
    text-align: center;
    justify-content: center;
}

.notice {
    font-size: 20px;
    background-color: rgba(34, 34, 34, .9);
    margin: 50px auto 0;
    width: 1050px;
    padding: 10px 36px;
    text-align: center;
}

.update_price {
    position: absolute;
    top: 6px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ainimate_proxy_operations_inner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.animate_proxy_operations_inner {
    animation: ainimate_proxy_operations_inner .5s linear infinite forwards;
}

.hide {
    display: none;
}

.order_in_progress {
    display: flex;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .9);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 8px;
}

.order_in_progress div {
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.order_in_progress .fas {
    margin-left: 8px;
}

.order_in_progress p {
    line-height: 1.7;
    font-size: 24px;
}


/*------------------------------------------------*/


/* div {
    border: 1px solid red;
} */

.animated {
    opacity: 0;
}

.removeOpacity {
    opacity: 1 !important;
}