﻿﻿/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Big John', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-family: 'Baloo Da 2', cursive;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    max-width: 2560px;
    min-width: 1170px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}


/*header*/

.header {
    position: relative;
    max-width: 2560px;
    min-width: 1170px;
    text-align: center;
    background: url(../img/server-hosting.jpg) no-repeat center top/cover;
    padding-bottom: 1000px;
}

.header.header_background {
    background: url(../img/Cloud-Serversdark.jpg) no-repeat center top/cover;
}

.batton_top {
    top: 900px;
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: rgb(51, 51, 192);
    border-radius: 50%;
    position: fixed;
    right: 50px;
    opacity: 0;
    z-index: 10000;
    transition: all .5s ease;
    visibility: hidden;
}

.visible {
    visibility: visible;
    transition: all .5s ease;
    opacity: 1;
}

.menu_background {
    width: 100%;
    height: 56px;
    background-color: rgba(34, 34, 34, .9);
    display: flex;
}

.menu_background.top_menu {
    background-color: rgba(17, 17, 17, .9);
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 25px;
    width: 220px;
    height: 100%;
}

.user_img img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 3px solid rgb(51, 51, 192);
}

.user_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}

.user_balance {
    font-size: 20px;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 25px;
    word-spacing: -10px;
    font-size: 34px;
    color: #fff;
}

.brand i {
    transition: all 0.7s ease;
}

.menu_background:hover>.brand i {
    color: rgba(51, 51, 192, .41);
}

.brand span {
    font-weight: bold;
}

.fa-globe {
    font-size: 30px;
    line-height: 0.8;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.decoration {
    width: 0%;
    height: 2px;
    background-color: rgb(51, 51, 192);
    position: absolute;
    bottom: 10px;
}

.is_active,
.menu ul li:hover .decoration {
    width: 60%;
    transition: all .5s ease;
}

.menu li {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    transition: all .5s ease;
    position: relative;
}

.slogan {
    font-size: 126px;
    margin-top: 330px;
    line-height: 0.7;
    text-shadow: .04em 0 #143957;
}

.buy_proxy_button {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 100px auto auto;
    width: 170px;
    padding: 7px 10px;
    border-radius: 15px;
    background-color: white;
    color: #3633c0;
}


/*---------------------------------------*/

.section_background {
    background: #1a1a1a;
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
    box-shadow: 0px 0px 108px 117px rgba(26, 26, 26, 1);
}

.advantages_left_subcontainer {
    width: 525px;
}

.advantages_right_subcontainer {
    width: 525px;
}

.h2_setcion {
    font-size: 40px;
    padding: 100px 0 50px 0;
}

.our_offer {
    font-size: 18px;
    font-weight: 400;
}

.advantages_container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}

.advantage_element {
    display: flex;
    align-items: center;
    padding: 15px;
    text-align-last: left;
}

.advantage_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.advantage_icon .fas {
    font-size: 30px;
    padding: 25px;
    border: 3px solid rgba(91, 99, 255, .43);
    color: rgba(91, 99, 255, .43);
    border-radius: 50%;
    transition: all .7s ease;
}

.advantage_element:hover>.advantage_icon .fas {
    border: 3px solid rgba(91, 99, 255, 1);
    color: rgba(91, 99, 255, 1);
}

.advantage_text {
    padding: 0px 0px 0px 20px;
}

.advantage_text h3 {
    font-size: 24px;
}

.advantage_text p3 {
    font-size: 16px;
}


/*---------------------------------------*/

.faq_container_bg {
    text-align: center;
    background: url(../img/Shared-Hostingdark.jpg) no-repeat center top/cover;
}

.faq_container_bg .h2_setcion {
    padding-top: 180px;
    font-weight: bold;
}

.outter_issue {
    text-align: left;
}

.issue {
    font-size: 27px;
    color: #fff;
}

.issues {
    padding-bottom: 180px;
}

.answer p {
    margin: 15px 0 15px 75px;
    color: #fff;
    font-size: 17px;
}


/*------------------------------------------------*/

.prices_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price_container {
    width: 31%;
    transition: all .5s ease;
}

.price_container:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.type_proxy {
    font-size: 35px;
    border-radius: 50px 50px 0 0;
}

.price_for_one_ip {
    font-size: 24px;
}

.price_for_one_ip span {
    color: #3633c0;
}

.prices {
    display: flex;
    justify-content: space-around;
}

.price {
    background-color: rgba(43, 45, 51, 0.9);
    width: 25%;
}

.price div {
    font-size: 24px;
}

.price_value,
.countries,
.price_for_one_ip {
    background-color: #1f1e23;
    padding: 20px 0;
}

.type_proxy,
.country,
.cicle {
    background-color: rgba(43, 45, 51, 0.9);
    padding: 20px 0;
}

.country {
    font-size: 24px;
}

.countries {
    font-size: 18px;
    word-spacing: 19px;
    border-radius: 0 0 50px 50px;
}

.section_background.additional_padding {
    padding-bottom: 150px;
}


/*-------------------------------------------------*/

.contacts_container_bg {
    background: url(../img/data-center-dark.jpg) no-repeat center top/cover;
    padding-bottom: 275px;
}

.contacts_container_bg .h2_setcion {
    padding: 230px 0 50px 0;
}

.contact_form_container {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}

input {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 17px;
    padding: 20px 17px;
    border: 1px solid #555;
    margin-bottom: 21px;
    margin-left: 30px;
}

textarea {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 832px;
    height: 135px;
    font-size: 17px;
    resize: none;
    padding: 20px 17px;
    border: 1px solid #555;
    margin-bottom: 21px;
    margin-left: 30px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #fff;
}

.submit_button {
    width: 170px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-bottom: 0;
}

.notice {
    display: inline-flex;
    align-items: center;
}

.notice_message {
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 40px;
}

input:focus {
    outline: 0;
    border: 1px solid rgba(51, 51, 192, .41);
}

textarea:focus {
    outline: 0;
    border: 1px solid rgba(51, 51, 192, .41);
}


/*------------------------------------------------*/

.payment_methods {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    border-top: 3px solid rgba(34, 34, 34, .9);
    border-bottom: 3px solid rgba(34, 34, 34, .9)
}

.methods {
    width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.method {
    filter: grayscale(37%);
    transform: scale(0.7)
}

footer {
    padding-top: 100px;
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    width: 380px;
}

.support_email {
    background-color: #000;
    padding: 7px;
    border-radius: 10px;
}


/*-------------------------------------------------*/


/* div {
    border: 1px solid red;
} */

.animated {
    opacity: 0;
}

.removeOpacity {
    opacity: 1 !important;
}