﻿﻿/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Big John', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Baloo Da 2', cursive;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    max-width: 2560px;
    min-width: 1170px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}


/*header*/

.header {
    position: relative;
    max-width: 2560px;
    min-width: 1170px;
    text-align: center;
    background: url(../img/server-hosting.jpg) no-repeat center top/cover;
    padding-bottom: 1000px;
}

.batton_top {
    top: 900px;
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: rgb(51, 51, 192);
    border-radius: 50%;
    position: fixed;
    right: 50px;
    opacity: 0;
    z-index: 10000;
    transition: all .5s ease;
    visibility: hidden;
}

.visible {
    visibility: visible;
    transition: all .5s ease;
    opacity: 1;
}

.header.header_background {
    background: url(../img/Cloud-Serversdark.jpg) no-repeat center top/cover;
}

.menu_background {
    height: 56px;
    background-color: rgba(34, 34, 34, .9);
    display: flex;
}

.menu_background.top_menu {
    background-color: rgba(17, 17, 17, .9);
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 25px;
    width: 220px;
    height: 100%;
}

.user_img img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 3px solid rgb(51, 51, 192);
}

.user_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}

.user_balance {
    font-size: 20px;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 25px;
    word-spacing: -10px;
    font-size: 34px;
    color: #fff;
}

.brand i {
    transition: all 0.7s ease;
}

.menu_background:hover>.brand i {
    color: rgba(51, 51, 192, .41);
}

.brand span {
    font-weight: bold;
}

.fa-globe {
    font-size: 30px;
    line-height: 0.8;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.decoration {
    width: 0%;
    height: 2px;
    background-color: rgb(51, 51, 192);
    position: absolute;
    bottom: 10px;
}

.is_active,
.menu ul li:hover .decoration {
    width: 60%;
    transition: all .5s ease;
}

.menu li {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    transition: all .5s ease;
    position: relative;
}


/*------------------------------------------------*/

.section_background {
    background: #1a1a1a;
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
    box-shadow: 0px 0px 108px 117px rgba(26, 26, 26, 1);
}

.payment_methods {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    border-top: 3px solid rgba(34, 34, 34, .9);
    border-bottom: 3px solid rgba(34, 34, 34, .9)
}

.methods {
    width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.method {
    filter: grayscale(37%);
    transform: scale(0.7)
}

footer {
    padding-top: 100px;
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    width: 380px;
}

.support_email {
    background-color: #000;
    padding: 7px;
    border-radius: 10px;
}


/*-----------------------------------------------------------------*/

.operations_container {
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.operations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 368px;
}

.dropdown_menu {
    z-index: 1000;
    position: absolute;
    width: 101%;
    top: 33px;
    left: -1px;
    background-color: #252542;
}

.dropdown_menu li {
    margin-top: 1px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    transition: all .3s ease;
}

.autorenew {
    text-align: left;
    display: flex;
    align-items: center;
}

.autorenew i {
    margin: 0px 4px 0px 10px;
}

.dropdown_menu li:hover {
    background-color: rgb(22, 22, 64);
}

.prolong-period {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 12px;
}

.change_proxy_type {
    text-align: left;
}

.change_proxy_type span {
    margin-left: 10px;
}

.operation {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 14px;
    height: 4px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    transition: .8s all ease;
}

.operations_inactive>div.operation {
    color: #717171 !important;
    background-color: #424242 !important;
}

.notice_contaier {
    line-height: 1;
    align-items: center;
    display: flex;
    width: 778px;
    position: absolute;
    top: -61px;
    border: 1px solid #40414f;
    padding: 7px 15px;
    font-size: 20px;
    justify-content: center;
    background-color: #0f0f0f;
}

.operations[data-status="active"] .operation:hover>.dropdown_menu,
.dropdown_menu:hover {
    display: block;
}

.hide .dropdown_menu {
    display: none;
}

.proxy_item.hide {
    display: none;
}

.operation .items_count {
    line-height: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    background-color: rgb(32, 32, 33);
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.outter {
    font-weight: bold;
    text-align: left;
}

.outter_proxy_info {
    width: 349px;
}

.outter_proxy_due_date {
    width: 157px;
}

.outter_proxy_comment {
    width: 167px;
}

.outter_proxy_operations {
    position: relative;
    width: 33px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter_proxy_operations .dropdown_menu {
    display: none;
    left: 50px;
    top: -2px;
    width: 210px;
}

.select_container {
    outline: none;
    padding: 4px;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #0f0f11;
    font-weight: bold;
    background-color: #161728;
}

.select_container option {
    outline: none;
    border: none;
}

@keyframes asd {
    0% {
        color: #0056ff;
    }
    20% {
        color: #0086ff;
    }
    40% {
        color: #00ffeb;
    }
    60% {
        color: #00ff99;
    }
    80% {
        color: #00ff17;
    }
    100% {
        color: #47ff00;
    }
}

.fa-sliders-h {
    color: #00ffeb;
    animation: asd 3s linear infinite alternate;
}

.outter_proxy_operations:hover>.dropdown_menu,
.dropdown_menu:hover {
    display: block;
}

.selected_align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
}

.proxy_list_container {
    margin: 100px auto 0;
    width: 812px;
}

.proxy_list {
    overflow: scroll;
    overflow-x: hidden;
    height: 515px;
    width: 827px;
}

.proxy_list::-webkit-scrollbar {
    width: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.proxy_item_container {
    display: flex;
    width: 810px;
    font-size: 13px;
    background-color: rgba(24, 24, 43, 0.87);
}

.proxy_item_container>* {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.proxy_item {
    margin-top: 3px;
    width: 812px;
}

.chekbox_contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
}

.ip_type {
    display: flex;
    flex-direction: column;
    width: 36px;
}

.proxy_country {
    font-size: 19px;
    margin-top: 10px;
}

.proxy_ip_typeIPv6 {
    padding: 3px 20px;
    display: flex;
    background-color: rgb(51, 51, 192);
    border-radius: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.proxy_ip_typeIPv4 {
    padding: 3px 20px;
    display: flex;
    background-color: rgb(105, 53, 191);
    border-radius: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.proxy_ip_typeIPv4s {
    padding: 3px 20px;
    display: flex;
    background-color: rgb(21, 127, 108);
    border-radius: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.proxy_info {
    width: 319px;
}

.proxy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.proxy:first-child {
    margin-top: 0;
}

.proxy span {
    color: #888;
}

div[data-proxy_ip_type="SOCKS5"] {
    display: block;
    background-color: rgb(119, 0, 255);
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
    transition: all 2s ease;
}

div[data-proxy_ip_type="HTTPs"] {
    display: block;
    background-color: rgb(0, 109, 255);
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
    transition: all 2s ease;
}

.due_date,
.due_days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 157px;
}

.due_days {
    margin-top: 5px;
}

.proxy_comment {
    width: 170px;
}

.add_comment {
    width: 75px;
    display: flex;
    align-items: center;
}

.add_comment span {
    font-size: 20px;
    margin-right: 5px;
}

.comment {
    height: 22px;
    padding: 5px 10px;
    margin-top: 10px;
    width: 145px;
    text-align: left;
    border: 1px solid rgba(17, 17, 17, .9);
    background-color: rgba(32, 32, 34, .9);
}

.red {
    background-color: rgba(215, 0, 0, 0.89)
}

.orange {
    background-color: rgba(215, 165, 0, 0.89);
}

.green {
    background-color: rgba(48, 145, 42, 0.89);
}

.red_text {
    color: rgba(215, 0, 0, 0.89)
}

.orange_text {
    color: rgba(215, 165, 0, 0.89);
}

.green_text {
    color: rgba(48, 145, 42, 0.89);
}

.TTL_container {
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
}

.proxy_operations_outter {
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 7px;
    margin-top: 10px;
    transition: .8s all ease;
}

.proxy_operations_outter i {
    display: block;
}

.dotted_line {
    border-bottom: 1px dotted #fff;
    flex-grow: .96;
}

.cheking {
    background-color: rgba(255, 255, 0, 0.64);
}

.cheking_result_true {
    background-color: rgba(36, 255, 0, 0.63);
}

.cheking_result_false {
    background-color: rgba(219, 0, 68, 0.63);
}

@keyframes ainimate_proxy_operations_inner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.animate_proxy_operations_inner {
    animation: ainimate_proxy_operations_inner .5s linear infinite forwards;
}


/*-------------------------------------------------*/

.checkbox_container {
    position: relative;
}

.checkbox_container .checkbox {
    height: 13px;
    width: 14px;
    transform: scale(1.6);
    margin: auto;
    top: -4px;
    left: 4px;
}

.checkbox {
    position: absolute;
    z-index: 100;
    opacity: 0;
    margin: 3px 0 0 0px;
}

.checkbox+label {
    position: relative;
    padding: 0 0 0 22px;
    cursor: pointer;
}

.checkbox+label:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 22px;
    height: 13px;
    border-radius: 7px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    transition: .2s;
}

.checkbox+label:after {
    content: '';
    position: absolute;
    top: -3px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: .2s;
}

.checkbox:checked+label:before {
    background: #9FD468;
}

.checkbox:checked+label:after {
    left: 10px;
}

.checkbox:focus+label:before {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 1px rgba(255, 255, 0, .7);
}


/*-----------------------------------------------------------------*/


/*popup*/

.modalwin {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 350px;
    background: rgba(17, 17, 17, .6);
    top: 30%;
    right: 0;
    left: 0;
    font-size: 16px;
    margin: 0 auto;
    z-index: 20;
    display: none;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
}

hr {
    width: 100%;
}

.modalwin form {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.popup_button {
    width: 65px;
    height: 35px;
    border: 1px solid rgba(51, 51, 192, .41);
}

input:focus {
    outline: 0;
    border: 1px solid rgba(51, 51, 192, .41);
}

.popup_input {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    width: 280px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 17px;
    padding: 7px 19px;
    border: 1px solid #555;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.empty_proxy_list {
    font-size: 28px;
    width: 812px;
    background-color: rgba(17, 17, 17, 0.6);
    padding: 80px 0;
    margin-top: 5px;
}

.empty_proxy_list a {
    color: #3333c0;
}

.proxy_operations_outter[data-action="delete"]:hover {
    background-color: rgba(255, 0, 0, 0.52);
    transition: .8s all ease;
}

.operations>div.operation:hover {
    background-color: rgba(255, 0, 0, 0.52);
    transition: .8s all ease;
}


/*------------------------------------------------------------*/


/* div {
    border: 1px solid red;
} */

.animated {
    opacity: 0;
}

.removeOpacity {
    opacity: 1 !important;
}